<form class="form-horizontal" role="form">

    {{validated-input
        label='Notification Email'
        propertyName='notificationEmail'
        changeset=changeset
        placeholder='user@example.com'
    }}

    {{validated-input
            label='Proxy Url'
            propertyName='proxyUrl'
            changeset=changeset
            placeholder='http://user:pass@123.456.789.012:54321'
    }}

    {{validated-input
            label='Max error count'
            propertyName='maxErrorCount'
            changeset=changeset
            placeholder='0'
            form-text='Number of errors before it suspends the listing.'
    }}

  <div class="form-group row">
    <label for="suspendScrapingCheckbox" class="col-sm-3 form-check-label text-right">Suspend Scraping</label>
    <div class="col-sm-9">
      {{input type="checkbox" checked=changeset.suspendScraping class="form-check-input" id="suspendScrapingCheckbox"}}
    </div>
  </div>

  <div class="form-group row">
    <label for="suspendParsingCheckbox" class="col-sm-3 form-check-label text-right">Suspend Parsing</label>
    <div class="col-sm-9">
      {{input type="checkbox" checked=changeset.suspendParsing class="form-check-input" id="suspendParsingCheckbox"}}
    </div>
  </div>

  <div class="form-group row">
    <label for="suspendUpdatingCheckbox" class="col-sm-3 form-check-label text-right">Suspend Updating</label>
    <div class="col-sm-9">
      {{input type="checkbox" checked=changeset.suspendUpdating class="form-check-input" id="suspendUpdatingCheckbox"}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" {{action save changeset}} class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
