<form class="form-horizontal" role="form">

    {{validated-input
        label='Notification Email'
        propertyName='notificationEmail'
        changeset=changeset
        placeholder='user@example.com'
    }}

    {{validated-input
            label='Proxy Url'
            propertyName='proxyUrl'
            changeset=changeset
            placeholder='http://user:pass@123.456.789.012:54321'
    }}

    {{validated-input
            label='Max error count'
            propertyName='maxErrorCount'
            changeset=changeset
            placeholder='0'
            form-text='Number of errors before it suspends the listing.'
    }}

    {{checkbox-input
            label='Suspend Scraping'
            propertyName='suspendScraping'
            changeset=changeset
    }}

    {{checkbox-input
            label='Suspend Parsing'
            propertyName='suspendParsing'
            changeset=changeset
    }}

    {{checkbox-input
            label='Suspend Updating'
            propertyName='suspendUpdating'
            changeset=changeset
    }}

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" {{action save changeset}} class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
